/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
/* {
    margin: 0;
    padding: 0;
}*/

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p { 
    margin: 1em 0;
}

img {
    display: block;
    margin: 0 auto;
    z-index: -1;
}

a         { color: #303030; }
a:hover   { color: #303030; }
a:visited { color: #303030; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
    font-family: 'Roboto';
    list-style-type: none;
    margin-bottom: 2em;
}

.posts li {
    font-size: 1.5em;
    line-height: 2em;
}

.posts span {
    font-color: #ACACAC;
    font-family: "Droid Sans Mono", monospace;
    font-size: 90%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    text-align: justify;
    width: 55em;
    margin: 1em auto 1em;
    line-height: 1.5em;
}

.header a {
    font-weight: bold;
    text-decoration: none;
}

.title {
    display: inline-block;
    margin-bottom: 2em;
}

.title a {
    color: #a00;
}

.title a:hover {
    color: #000;
}

.header a.extra {
    color: #aaa;
    margin-left: 1em;
}

.header a.extra:hover {
    color: #000;
}

.meta {
    color: #aaa;
}

.footer {
    font-family: 'Roboto';
    font-size: 85%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}

.footer .contact {
    float: left;
    margin-right: 3em;
}

.footer .contact a {
    color: #8085C1;
}

.footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.footer .icon {
    font-size: 1.5em;
    color: #666;
}

.footer .rss img {
    border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
    font-family: "Droid Serif", serif;
    line-height: 2.25em;
}

.post h2, h3, h4 {
    font-weight: bold;
}

.post p {
    font-size: 1.25em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post a {
    text-decoration: underline;
}

.post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: .4em .4em;
}

.post ul, .post ol {
    font-size: 1.25em;
    margin-left: 1.35em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
}

.post pre code {
    border: none;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}
