/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
/* {
    margin: 0;
    padding: 0;
}*/

body {
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p { 
    margin: 1em 0;
}

img {
    display: block;
    margin: 0 auto;
    z-index: -1;
}

a         { color: #303030; }
a:hover   { color: #303030; }
a:visited { color: #303030; }

.section-heading {
    font-family: 'Roboto';
    font-size: 2.75em;
    margin: 30px 0;
}

.section-lead {
    font-family: 'Roboto';
    margin: 30px 0;
    font-size: 1.5em;
}

.section-paragraph {
    margin: 30px 0;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
    font-family: 'Roboto';
    list-style-type: none;
    margin-bottom: 1.75em;
}

.posts li {
    font-size: 1.25em;
    line-height: 2em;
}

.posts span {
    font-color: #ACACAC;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 70%;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
    text-align: left;
    width: auto;
    max-width: 80%;
    margin: 1em auto 1em;
    line-height: 1.5em;
}

.header a {
    font-weight: bold;
    text-decoration: none;
}

.title {
    display: inline-block;
    margin-bottom: 2em;
}

.title a {
    color: #a00;
}

.title a:hover {
    color: #000;
}

.header a.extra {
    color: #aaa;
    margin-left: 1em;
}

.header a.extra:hover {
    color: #000;
}

.meta {
    color: #aaa;
}

.footer {
    font-family: 'Roboto';
    font-size: 95%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}

.footer .contact {
    float: left;
    margin-right: 3em;
}

.footer .contact a {
    color: #8085C1;
}

.footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}

.footer .icon {
    font-size: 1.5em;
    color: #666;
}

.footer .rss img {
    border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {
    font-family: "Droid Serif", serif;
    line-height: 1.75em;
}

.post h2, h3, h4 {
    font-weight: bold;
}

.post p {
    font-size: 1.15em;
    padding-top: 5px;
    padding-bottom: 5px;
}

.post a {
    text-decoration: underline;
}

.post img {
    max-height: 100%;
    max-width: 100%;
}

.post pre {
    font-size: 1em;
    border: 1px solid #ddd;
    background-color: #eef;
    padding: .4em .4em;
}

.post ul, .post ol {
    font-size: 1.2em;
    margin-left: 1.35em;
}

.post code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 0;
}

.post pre code {
    border: none;
}

.post .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.post .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* terminal */
.post pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
}

.post pre.terminal code {
    background-color: #333;
}
