img {
	display: block;
	margin: 0 auto;
	z-index: -1;
}

#regfont {
    font-size: 14px;
    font-family: 'Roboto';
}

#header.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: -1;
}


#content {
	font-size: 14px;
	font-family: 'Roboto';
	text-align: left;
    padding: 0cm 5cm 0cm 5cm;
}

#monospace {
	font-size: 14;
	font-family: 'Droid Sans Mono', monospace;
}
