<div class="row text-center">
    <h3>Alberto Corona</h3>
    <p>Computer Science major at Northern Illinois University</p>
    <div class="row-fluid">
        <a href="https://github.com/0X1A"><i class="icons fa fa-github-square fa-3x"></i></a>
        <a href="https://twitter.com/deathgreps"><i class="icons fa fa-twitter-square fa-3x"></i></a>
        <a href="mailto:alberto@0x1a.us"><i class="icons fa fa-envelope-square fa-3x"></i></a>
        <a href="/pub.key"><i class="icons fa fa-key fa-3x"></i></a>
    </div>
</div>
