<div class="container-fluid container-padding" style="background-color: #ededed">
	<div class="row-fluid text-center">
		<h1 class="section-heading">Alberto Corona</h1>
		<p>Computer science major at Northern Illinois University, open source software advocate.</p>
	</div>
	<div class="container">
		<div class="row-fluid text-center">
		<a href="https://github.com/0X1A/"><i class="fa fa-github fa-3x icon-row"></i></a>
		<a href="https://twitter.com/0X1A1/"><i class="fa fa-twitter fa-3x icon-row"></i></a>
		<a href="mailto:alberto@0x1a.us"><i class="fa fa-envelope fa-3x icon-row"></i></a>
		<a href="{{ site.url }}/pub.key"><i class="fa fa-lock fa-3x icon-row"></i></a>
		</div>
	</div>
</div>
