<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="/css/syntax.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/main.css">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Roboto:400,300,500,700|Droid+Sans+Mono|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
<link rel="shortcut icon" href="/img/icon.ico">

</head>
<body data-spy="scroll" data-target=".navbar">

<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class ="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a id="Home" href="/" style="color:white" class="nav-icon">Home</a></li>
                <li class="active"><a id="Blog" href="{{ site.url }}/blog" style="color:white" class="nav-icon">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}/pkgs" style="color:white" class="nav-icon">Packages</a></li>
		<li><a href="http://git.0x1a.us" style="color:white" class="nav-icon">Git</a></li>
	    </ul>
        </div>
    </div>
</nav>

<div id="sBlog" class="container">
    <div class="site">

        {{ content }}

        <div class="footer">
            <div class="contact">
		{% include ascii.html %}
            </div>
            <div class="contact">
                <p>
                Alberto Corona<br />
                Programmer, open source software advocate.<br />
                </p>
                <p>
		GPG Fingerprint: 8119 61C1 1B7A 9019 751D  DF8B FB0C 5DDE 4B20 76CA
                </p>
            </div>
            <div class="contact">
                <p>
                <i class="icon fa fa-github"></i><a href="https://github.com/0X1A"> github.com/0X1A</a><br />
                <i class="icon fa fa-envelope"></i><a href="mailto:albcoron@gmail.com"> albcoron@gmail.com</a><br />
                <i class="icon fa fa-lock"></i><a href="{{ site.url }}/pub.key"> Public GPG Key</a><br />
                </p>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='/js/jquery.js'></script>
<script type='text/javascript' src='/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/js/page.js'></script>
{% include stats.html %}
</body>
</html>
