<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">Home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Alberto Corona<br />
                Programmer, open source software advocate, (pending) game developer.<br />
                <a href="mailto:alberto@0x1a.us">alberto@0x1a.us</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/0x1A">github.com/0x1A</a><br />
                <a href="https://twitter.com/0x1AA">twitter.com/0x1AA</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
